/* color palette from <https://github.com/vuejs/theme> */
:root {
  --rich-black-fogra-29: hsla(207, 95%, 8%, 1);
  --baby-powder: hsla(100, 100%, 99%, 1);
  --tiffany-blue: hsla(174, 62%, 47%, 1);
  --rose-madder: hsla(353, 81%, 51%, 1);
  --orange-peel: hsla(35, 100%, 55%, 1);
  --color-text: black;

  --color-background: var(--baby-powder)
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.2s, background-color 0.2s;
}