@use '@/assets/styles/helpers';

@mixin button {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-gray-roboflow-300);
    text-align: center;

    &.wrong {
        background-color: var(--rose-madder);
    }

    &.active {
        background: black;
        color: white;
        cursor: pointer;
    }

    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);


    .icon {
        @include helpers.flex-center;

        svg {
            height: 25px;
        }
    }

    .text {
        text-align: center;
    }
}

@mixin button-sizes {
    width: 40px;
    height: 40px;

    svg {
        height: 18px;
        width: 18px;
    }
}

@mixin button-colors {
    &.active {
        background-color: var(--g-colorRed100);
        color: white;

        &:hover {
            background-color: var(--g-colorRed0);
        }
    }

    &:not(:where(.active)) {
        color: var(--g-colorGray300s);
        background-color: var(--g-colorGray150);
        outline: 1px solid var(--fields-border-color);

        &:hover {
            background-color: var(--g-colorGray150Hovered);
        }
    }
}